body {
    background-color: #4ca146;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #fffefe;
    margin: 0;
    padding: 0;
    text-align: center; /* Centraliza todo o texto na página */
}

/* Estilo para o título com animação */
.animated-title {
    color: #fffefe;
    font-size: 36px;
    margin-bottom: 20px;
    opacity: 0; /* Faz o título começar invisível */
    animation: fadeIn 2s forwards, bounce 1s infinite alternate; /* Adiciona animação de fade-in e bounce */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

p {
    color: #fffefe;
    font-size: 21px;
    line-height: 1.6;
    padding: 0 20px;
    max-width: 800px; /* Limita a largura dos parágrafos */
    margin: 0 auto 20px auto; /* Centraliza os parágrafos */
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-position: inside;
    padding: 0;
    max-width: 800px; /* Limita a largura das listas */
    margin: 0 auto 20px auto; /* Centraliza as listas */
}

li {
    text-align: left; /* Alinha o texto das listas à esquerda */
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 10px;
}